@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
}
.geek{
width: 150px;
height: 150px;
}
.imgredes{
	width: 100px;
	height: 100px;
}
img.grupo{

	float: left;
	height: 500px;
	width:  500px;

}
body {
	width: 790px;
	margin: 0 auto;
	background-image: url(fundos/bg3.jpg);
	position:relative;
}
.contato{
	background-image: url(fundos/fundo7.jpg);
	width: 1000px;
    margin: 0 auto;
	position: relative;
}
.bbc{
	background-image: url(fundos/fundo.jpg);
	width: 1000px;
    margin: 0 auto;
    position: relative;

}
.album{
max-width:100px ;
max-height:100px ;
}
.grupos{
    background-image: url(fundos/fundo.jpg);
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.h6{	color:white;
	font-size: 50px;
    
}
h3{
	color: #e0e0e0;
}
h6{
	color:white;
	font-size: 50px;
}
h2 {
	color:pink;
}

h1 {
	font-variant: small-caps;
	color: #0099CC;
}

p {
	font-size: 0.8em;
}

#header {
	padding: 15px 0px 15px 20px;
}

#header a img {
	border: none;
}

#shadow {
	background: url(images/bg_content.gif) repeat-y;
	height: auto;
	padding: 0 5px 1px 5px;
}


#edito {
	background-color:  lightpink ;
}

#edito h2, #edito p {
	padding-top: 20px;
	padding-right: 100px;
	padding-left: 20px;
}
.nav a.white-text:hover {
color: #e0e0e0!important;
}
